body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: cursive;
  background-color: burlywood;
  color: #000000;
}
.save-note {
  display: none; 
} 
.note-textarea, .note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: black;
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
}
.note-textarea {
  resize: none;
  height: calc(100% - 70px);
  padding-top: 15px;
  width: 450px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size:15px;
  border: black;
  border-style: solid;
  border-width: 1px;
}

.note-title:read-only, .note-textarea:read-only {
  color: gray;
  background-color: #ffffff;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 5px;
  padding-bottom: 15px;
}

.list-container i {
  font-size: 1.1rem;
}

.list-container .list-group-item {
  padding: 20px;
  border: black;
  border-style: solid;
  border-width: 1px;
}
#welcomebox {
  width: 650px;
  background-color: antiquewhite;
  border: black;
  border-style: double;
  margin-top: 20px;
  padding: 20px;
  align-content: center;
  text-align: center;
  padding: 20px;
}
#mainbox {
  width: 1200px;
  background-color: antiquewhite;
  border: black;
  border-style: double;
  margin-top: 50px;
  border-radius: 15px 50px;
  padding: 20px;
  align-content: center;
  text-align: center;
  color: #000000;
}

h1 {
  text-shadow: 2px 2px 4px #000000;
  color: white;
  font-size: 50px;
  font-family: 'Great Vibes', cursive;
  padding-top: 10px;
}
.top01 {
  text-shadow: 2px 2px 4px #000000;
  color: white;
  font-size: 45px;
  font-family: 'Great Vibes', cursive;
  padding-top: 10px;
}
#img01 {
height: 400px;
width: 400px ;
  
}
.btn {	
	color:#ffffff;
	font-size:45px;
	padding:25px 25px;
  font-family: 'Great Vibes', cursive;
  text-shadow: 2px 2px 4px #000000;
}
.btn:active {
	position:relative;
	top:1px;
}
.btn:hover {
  color: lightgoldenrodyellow;
}
#leftcont {
  background-color: antiquewhite;
  padding: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  height: 650px;
  width: 200px;
}
#rightcont {
  background-color: antiquewhite;
  padding: 20px;
  padding-right: 25px;
}
#titlebox {
  background-color: bisque;
}
.img01 {
  height: 100px;
  width: 100px;
}
#listh {
background-color: burlywood;
}
